<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <div class="navbar-nav">
                    <ul>
                        <li class="nav-item"> <a class="nav-link" href="#"> HOME </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="./registration.html"> ADD </a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section class="table-section">
            <div class="container">
                <div class="row text-center">
                    <h1> Content </h1>
                </div>

                <div class="row over-x">
                    <table class="table">
                        <tr>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th>  Email </th>
                            <th> Addresss </th>
                            <th> Post </th>
                            <th> City </th>
                            <th> Country </th>
                        </tr>
                        <tr>
                                <td>Jill</td>
                                <td>Smith</td>
                                <td>50</td>
                                <td>50</td>
                                <td>50</td>
                                <td>50</td>
                                <td>50</td>
                        </tr>
    
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
    
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                    </table>
                </div>

            </div>
        </section>
    </main>


</body>
</html>