*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}

section{
    padding: 8rem 0;
}
ul li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
}

h1{
    font-size: 2.6rem;
}


/* Reusable Component */

.row{
    max-width: 114rem;
    margin: 1rem auto;
}

.row::before,
.row::after{
    content: "";
    display: table;
}

.row::after{
    clear: both;
}

.text-center{
    text-align: center;
}

.box{
    padding: 1rem;
}


/* Form  */

form{
    padding: 1rem 1rem;
    font-size: 1.4rem;
}

.formGroup{
    margin: 2rem 0;
}

.registration form label{
    display: block;
    text-align: left;
    font-weight: 700;
    letter-spacing: .1rem;
}

input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    border: .1rem solid #000;
}

input[type="text"]:hover,
input[type="email"]:hover {
    border: 1px solid #4CAF50;
}


/* Button */

.btn{
    padding: .3rem .5rem;
    background: blue;
    border: .2rem solid #fff;
    border-radius: .5rem;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;

}

.btn-submit{
    width: 100%;
    background: green;
    font-size: 2rem;
    padding: 1rem .5rem;
    
}